.notification {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.notification.error {
  color: red;
  background: #ffe6e6;
  border: 2px solid red;
}

.notification.success {
  color: green;
  background: #e6ffe6;
  border: 2px solid green;
}
